.deleteModal {
  &__container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 2rem;
    font-weight: bold;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    width: 80%;

    & button {
        width: 30%;
    }
  }
}
