.footer {
    background-color: var(--color-grey-dark-1);
    height: 5vh;

    border-top: var(--line);
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
}