/////////////////// padding
.pd-top-xs{
    padding-top: 1rem;
}

.pd-top-s{
    padding-top: 2rem;
}

.pd-top-m{
    padding-top: 4rem;
}

.pd-top-l{
    padding-top: 6rem;
}

.pd-top-xl{
    padding-top: 8rem;
}

.pd-bottom-xs{
    padding-bottom: 1rem;
}

.pd-bottom-s{
    padding-bottom: 2rem;
}

.pd-bottom-m{
    padding-bottom: 4rem;
}

.pd-bottom-l{
    padding-bottom: 6rem;
}

.pd-bottom-xl{
    padding-bottom: 8rem;
}

.pd-left-xs{
    padding-left: .5rem;
}

.pd-left-s{
    padding-left: 2rem;
}

.pd-left-m{
    padding-left: 4rem;
}

.pd-left-l{
    padding-left: 6rem;
}

.pd-left-xl{
    padding-left: 8rem;
}

.pd-right-xs{
    padding-right: .5rem;
}

.pd-right-s{
    padding-right: 2rem;
}

.pd-right-m{
    padding-right: 4rem;
}

.pd-right-l{
    padding-right: 6rem;
}

.pd-right-xl{
    padding-right: 8rem;
}

.pd-s {
    padding: 2rem;
}

.pd-m {
    padding: 4rem;
}

.pd-l {
    padding: 6rem;
}

.pd-xl {
    padding: 8rem;
}

/////////////////// margin
.mg-top-xs{
    margin-top: 1rem;
}

.mg-top-s{
    margin-top: 2rem;
}

.mg-top-m{
    margin-top: 4rem;
}

.mg-top-l{
    margin-top: 6rem;
}

.mg-top-xl{
    margin-top: 8rem;
}

.mg-bottom-s{
    margin-bottom: 2rem;
}

.mg-bottom-sm{
    margin-bottom: 3rem;
}

.mg-bottom-m{
    margin-bottom: 4rem;
}

.mg-bottom-l{
    margin-bottom: 6rem;
}

.mg-bottom-xl{
    margin-bottom: 8rem;
}

.mg-left-xs{
    margin-left: .5rem;
}

.mg-left-s{
    margin-left: 2rem;
}

.mg-left-m{
    margin-left: 4rem;
}

.mg-left-l{
    margin-left: 6rem;
}

.mg-left-xl{
    margin-left: 8rem;
}

.mg-right-s{
    margin-right: 2rem;
}

.mg-right-m{
    margin-right: 4rem;
}

.mg-right-l{
    margin-right: 6rem;
}

.mg-right-xl{
    margin-right: 8rem;
}

.mg-s {
    margin: 2rem;
}

.mg-m {
    margin: 4rem;
}

.mg-l {
    margin: 6rem;
}

.mg-xl {
    margin: 8rem;
}